.container {
  display: flex;
  min-height: 100vh;
  overflow-y: hidden;
}

.left {
  flex: 0 0 50px; /* 20%의 고정된 너비를 가지도록 합니다. */
}

.right {
  flex: 1; /* 나머지 공간을 모두 차지하도록 합니다. */
}

.right-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 다른 요소들보다 위에 나타나도록 z-index 설정 */
}

.content {
  flex: 1;
  padding: 20px;
  margin-top: 50px;
}

.login-content {
  flex: 1;
}

.search-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  opacity: 0.7;
  padding-right: 10px;
  border-bottom: 1px solid #cccccc;
}

.card-item-basic {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
                  145.5deg,
                  rgba(214, 97, 255, 0.096) 7.34%,
                  rgba(77, 14, 255, 0) 66.69%
  ),
  #1f2128;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(42, 45, 51, 0.45);
}

.card-item-basic_symbor {
  height: 250px;
}

.card-item-basic_descript {
  height: 250px;
  display: grid;
  align-content: center;
  gap: 10px;
  padding-left: 20px;
}

.card-item-basic_descript_item {
  display: flex;
  min-width: 200px;
  gap: 10px;
}

.card-item-green {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
                  145.5deg,
                  rgba(97, 255, 129, 0.09) 7.34%,
                  rgba(77, 14, 255, 0) 66.69%
  ),
  #1f2128;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(42, 45, 51, 0.45);
}

.card-item-black {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(
                  145.5deg,
                  rgba(75, 98, 168, 0.09) 7.34%,
                  rgba(173, 156, 165, 0) 66.69%
  ),
  #05050a;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(42, 45, 51, 0.45);
  min-height: 800px;
}

.card-item-blue {
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
                  145.5deg,
                  rgba(97, 123, 255, 0.09) 7.34%,
                  rgba(77, 14, 255, 0) 66.69%
  ),
  #1f2128;
  box-shadow: 0 13px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(42, 45, 51, 0.45);
}

.search-input {
  border: 1px solid #cccccc;
}

.resource-container {
  border: 1px solid #6c6868;
  padding: 10px;
}
.resource-sheet {
  display: flex;
  justify-content: center;
  align-items: end;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
  height: 25vh;
  min-height: 250px;
}

.cpu-background {
  background-image: url('/images/cpu.jpg');
  border: 2px solid #673ab7;
}

.disk-background {
  background-image: url('/images/disk.jpg');
  border: 2px solid #3f51b5;
}

.gpu-background {
  background-image: url('/images/gpu.jpg');
  border: 2px solid #e91e63;
}

.memory-background {
  background-image: url('/images/memory.jpg');
  border: 2px solid #cddc39;
}
.resource-sheet div {
  width: 100%;
  text-align: center;
  border: 2px solid #a1a1aa;
  padding: 10px;
  margin: 10px;
  background: #27272a;
  border-radius: 10px;
}
.resource-sheet span {
  font-size: 3rem;
}

.resource-title {
  width: 100%;
  padding: 15px;
}




/*** 외부라이브러리 커스터마이징 ***/

.v-list-group__items {
  --indent-padding: calc(var(--parent-padding));
}

.v-list-item__prepend > .v-badge ~ .v-list-item__spacer, .v-list-item__prepend > .v-icon ~ .v-list-item__spacer, .v-list-item__prepend > .v-tooltip ~ .v-list-item__spacer {
  width: 16px;
}

.v-list-item-title {
  -webkit-hyphens: auto;
  hyphens: auto;
  overflow-wrap: normal;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: normal;
  word-wrap: break-word;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  line-height: 1.5rem;
  text-transform: none;
}

.v-list-item.v-list-item--nav.v-theme--light.v-list-item--density-default.v-list-item--one-line.v-list-item--rounded.v-list-item--variant-text {
  margin-left: 10px;
}

.v-list-item__content {
  align-self: center;
  grid-area: content;
  overflow: hidden;
  cursor: pointer;
}



.ag-root-wrapper.ag-layout-normal {
  height: 100%;
  border: none;
  border-radius: inherit;
}

.ag-header.ag-header-allow-overflow .ag-header-row {
  overflow: visible;
  background: #212121;
}

.ag-row-animation .ag-row {
  transition: transform 0.4s, top 0.4s;
  background: #212121;
}

.ag-ltr .ag-body, .ag-ltr .ag-floating-top, .ag-ltr .ag-floating-bottom, .ag-ltr .ag-header, .ag-ltr .ag-sticky-top, .ag-ltr .ag-body-viewport, .ag-ltr .ag-body-horizontal-scroll {
  flex-direction: row;
  background: #212121;
}

.ag-overlay-loading-wrapper {
  background-color: #212121;
}

.ag-paging-panel {
  border-top: 1px solid;
  border-top-color: var(--ag-border-color);
  color: var(--ag-secondary-foreground-color);
  height: var(--ag-header-height);
  background: #212121;
}

.ag-paging-panel > .ag-paging-page-size .ag-wrapper {
  min-width: calc(var(--ag-grid-size) * 10);
  background: #212121;
}

.p-calendar {
  display: inline-flex;
  max-width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding-top: 5px;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .parentMenuItemstext {
  outline: none;
  outline-offset: -1px;
  box-shadow: none;
  border-color: #52525b;
}
.p-datepicker {
  min-width: 300px; ;
}

.p-datepicker-group-container {
  min-width: 300px; ;
}

.p-datepicker-group {
  padding: 5px;
  min-width: 300px; ;
}

.p-datepicker-header {
  padding: 10px;
  min-width: 300px; ;
}

.p-datepicker-calendar-container {
  padding: 5px;
}
.p-datepicker-buttonbar {
  padding: 10px;
}
.p-monthpicker {
  min-width: 300px;
  padding: 10px;
}

.p-yearpicker {
  padding: 5px;
}

.p-float-label > label {
  left: 0.75rem;
  color: #a1a1aa;
  transition-duration: 0.2s;
  top: 12px;
}

.p-float-label:has(input:focus) label, .p-float-label:has(input.p-filled) label, .p-float-label:has(input:-webkit-autofill) label, .p-float-label:has(textarea:focus) label, .p-float-label:has(textarea.p-filled) label, .p-float-label:has(.p-inputwrapper-focus) label, .p-float-label:has(.p-inputwrapper-filled) label {
  top: -1.2rem;
  font-size: 12px;
}

.p-treeselect .p-treeselect-label.p-placeholder {
  color: #a1a1aa;
  padding: 10px ;
}

.p-tree-container {
  margin: 0;
  padding: 10px;
  list-style-type: none;
  overflow: auto;
}

.p-tree .p-tree-container .p-treenode {
  padding: 5px 5px;
  outline: 0 none;
}

.p-treenode-label {
  padding: 2px 5px;
}

.p-treenode-children {
  padding: 3px 15px;
}

.p-treeselect-label {
  padding: 10px;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content.p-highlight {
  background: #18181b;
  color: rgba(255, 255, 255, 0.87);
}

.p-tree .p-tree-container .p-treenode:focus > .p-treenode-content {
  outline: 1px solid var(--p-focus-ring-color);
  outline-offset: 2px;
  box-shadow: 0 none;
  padding: 1px;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content .p-checkbox {
  margin-right: 5px;
}

.p-cascadeselect .p-cascadeselect-label {
  box-shadow: none;
  padding: 10px;
}
.p-cascadeselect-item-content {
  padding: 10px;
}

.p-tree .p-tree-filter-container .p-tree-filter {
  width: 100%;
  padding-right: 1.75rem;
  padding: 10px;
  border: 1px solid #cccccc;
}

.p-tree-filter-icon {
  position: absolute;
  top: 50%;
  margin-top: -0.5rem;
}

.p-datatable .p-column-header-content {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
}


.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #27272a;
  border-width: 0 0 1px 0;
  padding: 0.75rem 1rem;
}

.p-sidebar .p-sidebar-header .p-sidebar-header-content {
  padding: 10px;
  font-weight: 600;
  font-size: 1.25rem;
}

.p-sidebar {
  background: #18181b;
  color: #ffffff;
  border: 1px solid #3f3f46;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.fc .fc-button .fc-icon {
  font-size: 1.5em;
  vertical-align: baseline;
}

.fc .fc-button-primary:disabled {
  background-color: #52525b;
  border-color: var(--fc-button-border-color);
  color: var(--fc-button-text-color);
  padding: 9px;
}

.fc .fc-button-primary {
  background-color: #3f3f46;
  border-color: #52525b;
  color: var(--fc-button-text-color);
}

.fc-theme-standard .fc-list-day-cushion {
  background-color: #585c5f
}

.ag-theme-quartz-dark input[class^=ag-][type=text], .ag-theme-quartz-dark input[class^=ag-][type=number],
.ag-theme-quartz-dark .ag-ltr .ag-filter-filter input.ag-text-field-input
{
  background: #2b2c2c;
  border: 1px solid #464545;
  border-radius: inherit;
}

.ag-picker-field-wrapper {
  border: var(--ag-borders);
  border-color: var(--ag-border-color);
  border-radius: 5px;
  background-color: #2b2c2c;
}

.ag-theme-quartz-dark .ag-menu {
  background: #2d2d2e;
}

.ag-select-list {
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: var(--ag-border-radius);
  border: var(--ag-borders) var(--ag-border-color);
  background: #2d2d2e;
}

.fc .fc-daygrid-day-frame {
  min-height: 155px;
  position: relative;
}

.p-inputtext {
  border-radius: 5px;
  height: 40px;
  padding: 8px 10px;
}


.fc-h-event .fc-event-main {
  font-family: ui-sans-serif;
  padding-left: 3px;
}

.v-overlay__scrim {
  pointer-events: auto;
  background: rgb(var(--v-theme-on-surface));
  border-radius: inherit;
  bottom: 0;
  left: 0;
  opacity: 0.05;
  position: fixed;
  right: 0;
  top: 0;
}

.p-dropdown-items-wrapper {
  overflow: auto;
  padding: 10px;
}

.p-dropdown-items li {
  padding: 5px;
}

