a {
  text-decoration: none;
  color : #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content-container {
  min-height: 500px;
  border-radius: 50px;
}

.content-sub-title {
  padding: 10px;
}

.item-container{
  padding: 10px;
  margin-top: 15px;
  min-height: 800px;
}

.alert-button-container {
  margin-top: 30px;
  justify-content: center;
  margin-left: 50px;
  display: flex;
}
