.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

/* 콘텐츠 스타일 */
.content {
  flex: 1; /* 남은 공간을 모두 채우도록 설정 */
  padding: 20px;
}

/* 푸터 스타일 */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

